@import './partials/variables';
@import './partials/nav';
@import './partials/hero';
@import './partials/infographic';

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: helvetica;
  background: #ADCE33;
  font-weight: normal;

  // .container {
  //   min-height: 100%;
  //   // position: relative;
  // }
}
