@import './partials/variables';
@import './partials/nav';
@import './partials/hero';
@import './partials/infographic';
@import './partials/quote';
@import './partials/about';
@import './partials/footer';
@import './partials/buzz';
@import './partials/search';

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  font-family: helvetica;
  background: RGBA(173, 233, 69, 1.00);
  font-weight: normal;
}
