.hero {
  text-align: center;
  font-family: $header-font;
  color: #007B00;

  h1 {
    font-size: 3rem;
    margin: 0.5rem;
    color: black;
    font-weight: normal;

    span {
      color: #FFB100;
    }
  }

  .buzz-or-sting {
    figure {
      display: inline-block;
    }
  }

  .search-field {
    // width: 50%;
    label {
      font-size: 1.2rem;
      margin-right: 0.5rem;
    }

    select {
      font-family: $header-font;
      font-size: 1.2rem;
      padding: 2%;
      color: #007B00;
      width: 30%;
      border: 0;
    }

    button {
      font-size: 1.2rem;
      background: white;
      border: 0;
      border-radius: 5px;
      color: #007B00;
      font-family: 'Lobster', cursive;
      font-size: 1.2rem;
      // padding: 0.5rem;
      // display: block;
    }
  }
}
