.hero {
  text-align: center;
  font-family: $header-font;
  color: #007B00;
  padding-bottom: 5rem;
  min-height: 500px;

  h1 {
    font-size: 3rem;
    margin: 0.5rem;
    color: black;
    font-weight: normal;

    span {
      color: #FFB100;
    }
  }

  .buzz-or-sting {
    figure {
      display: inline-block;
    }
  }

  .search-field {
    // label {
    //   font-size: 1.2rem;
    //   margin-right: 0.5rem;
    // }

    select {
      font-family: $header-font;
      font-size: 1.8rem;
      padding: 2%;
      color: #007B00;
      width: 40%;
      border: 0;
    }

    button {
      font-size: 1.8rem;
      background: white;
      border: 0;
      border-radius: 8px;
      color: #007B00;
      margin-left: 0.5rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      font-family: 'Lobster', cursive;
      // padding: 0.5rem;
    }
  }
}
