.infographic-section {
  display: flex;
  box-sizing: border-box;
  // position: relative;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #1D8C0B;
  min-height: 500px;
  background: linear-gradient( rgba(146, 218, 0, 0.30), rgba(146, 218, 0, 0.3)), url('../../../assets/images/unnamed.png');
  background-repeat: repeat;
  background-size: 20%;

  figure {
    flex-basis: 50%;
    margin-right: 0;
    position: relative;
    text-align: center;
  }
    #info-img {
      width: 350px;
      object-fit: cover;

    }

    #info-arrow {
      position: absolute;
      display: none;
      bottom: 0;
      // left: 300px;
    }

  .infographic-why {
    flex-basis: 50%;
    margin-right: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: white;

    h2 {
      width: 80%;
      font-size: 3.5rem;
      font-family: $header-font;
      margin: 0;
      font-weight: normal;
    }

    p {
      width: 80%;
      font-size: 1.5rem;
      line-height: 30px;
    }
  }
  }
