nav {
  list-style-type: none;
  text-align: right;
  padding: 1rem;
  font-family: $header-font;

  li {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }

  a {
    text-decoration: none;
    color: #007B00;
  }
}
