.quote-section {
  background: #69B500;
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;

  blockquote:before {
    content: open-quote;
    margin-right: 0.8rem;
    vertical-align: -15px;
  }

  blockquote:after {
    content: close-quote;
    margin-left: 0.8rem;
    vertical-align: -50px;
  }

  blockquote:before, blockquote:after {
    font-family: $highlight-font;
    font-size: 7rem;
    line-height: 40px;
    }

  blockquote {
    width: 60%;
    font-size: 2rem;
    margin: 0 auto;
    quotes: "\201C" "\201D" "\2018" "\2019";

  }
}
