nav {
  list-style-type: none;
  text-align: right;
  padding: 1rem;
  font-family: "Lobster", cursive; }
  nav li {
    display: inline-block;
    margin-right: 0.5rem;
    font-size: 1.5rem; }
  nav a {
    text-decoration: none;
    color: #007B00; }

.hero {
  text-align: center;
  font-family: "Lobster", cursive;
  color: #007B00;
  padding-bottom: 5rem;
  min-height: 500px; }
  .hero #logo-img {
    width: 15%; }
  .hero h1 {
    font-size: 3.5rem;
    margin: 0.5rem;
    color: black;
    font-weight: normal;
    margin-bottom: 2rem; }
    .hero h1 span {
      color: #FFB100;
      text-shadow: 1px 1px 1px black; }
  .hero figure img {
    width: 25%; }
  .hero .buzz-or-sting {
    display: flex;
    width: 70%;
    margin: 0 auto;
    text-align: center; }
    .hero .buzz-or-sting figure {
      flex-basis: 50%; }
      .hero .buzz-or-sting figure img {
        width: 250px; }
  .hero .search-field select {
    font-family: "Lobster", cursive;
    font-size: 1.8rem;
    padding: 2%;
    color: #007B00;
    width: 40%;
    border: 0; }
  .hero .search-field button {
    font-size: 1.8rem;
    background: white;
    border: 0;
    border-radius: 8px;
    color: #007B00;
    margin-left: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-family: 'Lobster', cursive; }

.infographic-section {
  display: flex;
  box-sizing: border-box;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #1D8C0B;
  min-height: 500px;
  background: linear-gradient(rgba(146, 218, 0, 0.3), rgba(146, 218, 0, 0.3)), url("../../../assets/images/unnamed.png");
  background-repeat: repeat;
  background-size: 20%; }
  .infographic-section figure {
    flex-basis: 50%;
    margin-right: 0;
    position: relative;
    text-align: center; }
  .infographic-section #info-img {
    width: 350px;
    object-fit: cover; }
  .infographic-section #info-arrow {
    position: absolute;
    display: none;
    bottom: 0; }
  .infographic-section .infographic-why {
    flex-basis: 50%;
    margin-right: 2rem;
    margin-top: 2rem;
    text-align: center;
    color: white; }
    .infographic-section .infographic-why h2 {
      width: 80%;
      font-size: 3.5rem;
      font-family: "Lobster", cursive;
      margin: 0;
      font-weight: normal; }
    .infographic-section .infographic-why p {
      width: 80%;
      font-size: 1.5rem;
      line-height: 30px; }

.quote-section {
  background: #69B500;
  padding-top: 10rem;
  padding-bottom: 3rem;
  text-align: center;
  min-height: 350px; }
  .quote-section blockquote:before {
    content: open-quote;
    margin-right: 0.8rem;
    vertical-align: -15px; }
  .quote-section blockquote:after {
    content: close-quote;
    margin-left: 0.8rem;
    vertical-align: -50px; }
  .quote-section blockquote:before, .quote-section blockquote:after {
    font-family: "Passion One", cursive;
    font-size: 7rem;
    line-height: 40px; }
  .quote-section blockquote {
    width: 60%;
    font-size: 2rem;
    margin: 0 auto;
    quotes: "\201C" "\201D" "\2018" "\2019"; }

.about-section {
  display: flex;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  min-height: 500px;
  color: white;
  background: RGBA(173, 233, 69, 1); }
  .about-section .about-copy {
    flex-basis: 50%; }
    .about-section .about-copy h1 {
      font-size: 3.5rem;
      font-family: "Lobster", cursive;
      margin-bottom: 0;
      font-weight: normal;
      margin-left: 2rem;
      text-align: left; }
    .about-section .about-copy p {
      font-size: 1.5rem;
      line-height: 26px;
      margin-left: 2rem;
      text-align: justify; }
  .about-section .about-pic {
    flex-basis: 50%; }
    .about-section .about-pic img {
      width: 70%;
      border-radius: 50%; }
    .about-section .about-pic figcaption {
      font-family: "Lobster", cursive;
      font-size: 2.3rem;
      color: white; }

footer {
  background: RGBA(54, 117, 0, 1);
  padding-top: 5rem;
  padding-bottom: 5rem;
  text-align: center;
  color: white; }
  footer h1 {
    font-family: "Lobster", cursive;
    font-size: 3rem;
    margin-bottom: 0.5rem; }
  footer form {
    display: inline-block;
    width: 50%; }
  footer .contact-holder {
    display: inline-block;
    width: 50%; }
    footer .contact-holder p {
      font-size: 1.3rem;
      margin-top: 0; }
  footer .social-media-holder {
    margin-top: 2rem;
    margin-bottom: 1rem; }
    footer .social-media-holder i {
      margin-right: 2rem;
      font-size: 3rem; }
  footer .copyright {
    font-family: "Lobster", cursive;
    font-weight: normal;
    font-size: 1.5rem; }

.buzz-section {
  font-family: "Lobster", cursive;
  margin-bottom: 5rem; }
  .buzz-section .logo-section {
    position: absolute;
    top: 2px;
    margin-left: 2rem;
    text-align: center;
    width: 20%; }
    .buzz-section .logo-section img {
      width: 40%; }
    .buzz-section .logo-section h4 {
      margin: 0;
      font-size: 1.5rem; }
      .buzz-section .logo-section h4 span {
        color: RGBA(255, 177, 0, 1);
        text-shadow: 1px 1px 1px black; }
  .buzz-section .buzz-form {
    width: 50%;
    margin: 0 auto;
    text-align: center; }
    .buzz-section .buzz-form #sting-header {
      color: #884D00;
      margin-right: 5rem; }
    .buzz-section .buzz-form #buzz-header {
      color: #007B00;
      margin-right: 5rem; }
    .buzz-section .buzz-form h1 {
      display: inline-block;
      vertical-align: top;
      font-size: 2.5rem;
      color: white;
      font-weight: normal; }
    .buzz-section .buzz-form img {
      width: 30%; }
    .buzz-section .buzz-form label {
      color: black;
      font-size: 1.3rem;
      display: block; }
    .buzz-section .buzz-form form {
      text-align: left; }
      .buzz-section .buzz-form form .form-section {
        display: inline-block;
        width: 42%;
        box-sizing: border-box; }
      .buzz-section .buzz-form form .form-checkbox {
        width: 100%; }
      .buzz-section .buzz-form form .form-section:nth-of-type(2n) {
        margin-left: 2rem; }
      .buzz-section .buzz-form form input {
        margin-bottom: 1rem;
        width: 100%;
        padding: 3%; }
      .buzz-section .buzz-form form input[type="checkbox"] {
        padding: 0;
        transform: scale(1.2);
        width: 5%; }
      .buzz-section .buzz-form form textarea {
        padding: 5%;
        width: 80%;
        margin-bottom: 1rem; }
      .buzz-section .buzz-form form button {
        font-family: "Lobster", cursive;
        font-size: 1.2rem;
        color: #007B00;
        background: white;
        border-radius: 8px;
        border: 0;
        display: block; }

.search-list ul li {
  list-style-type: none;
  display: inline-flex; }
.search-list ul .buzzImg {
  width: 15%; }
.search-list ul .rating {
  flex-basis: 50%; }
  .search-list ul .rating p {
    display: inline-block;
    font-family: "Lobster", cursive;
    font-size: 3rem;
    color: RGBA(0, 123, 0, 1); }
.search-list ul .contact {
  flex-basis: 50%;
  font-size: 3rem; }

html {
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  height: 100%;
  margin: 0;
  font-family: helvetica;
  background: RGBA(173, 233, 69, 1);
  font-weight: normal; }

/*# sourceMappingURL=main.css.map */
